/* Changes link texts to white */
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* Adds space between nav links */
li {
  margin-right: 40px;
}

/* Jumbotron image */
.jumbotron {
  background-image: url('../img/charging3.jpg');
  background-size: cover;
}

/* Space between photo and text */
.content-img {
  padding-bottom: 10px;
}
