.content-img {
  width: 575px;
  height: auto;
  padding-bottom: 10px;
}

.navbar {
  background-color: #65666B;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.jumbotron {
  background-image: url('../img/charging3.jpg');
  background-size: cover;
}
